/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #b64242;
  border-radius: 10px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #fadd95;
}
/* navbar styling */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  position: fixed;
  width: 100%;
  padding: 12px 0;
  z-index: 1000;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  background: #500903;
}
nav.sticky {
  background: #500903;
  padding: 13px 0;
}
nav .navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .logo a {
  font-weight: 500;
  font-size: 35px;
  color: #fadd95;
}
nav.sticky .navbar .logo a {
  color: #fadd95;
}
nav .navbar .menu {
  display: flex;
  position: relative;
}
nav .navbar .menu li {
  list-style: none;
  margin: 0 30px;
}
.navbar .menu a {
  font-size: 18px;
  font-weight: 500;
  color: #fadd95;
  padding: 20px 0;
  transition: all 0.4s ease;
}
.navbar .menu a:hover {
  color: #ffff;
}
nav.sticky .menu a {
  color: #fadd95;
}
nav.sticky .menu a:hover {
  color: #ffff;
}
.home-content .media-icons a {
  color: #03e5fa;
  font-size: 20px;
  margin: 0 8px;
}
nav.sticky .media-icons a {
  color: #fff;
}
.navbar > .logo > span {
  visibility: hidden;
}

#page-active {
  color: #03e5fa;
}

a {
  color: #fadd95;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}

.first,
.three {
  color: #fadd95;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 400;
  background: #500903;
  color: #fadd95;
  cursor: pointer;
  border: 2px solid #fadd95;
  transition: all 0.4s ease;
  font-weight: bold;
}
.button button:hover {
  border-color: #500903;
  background-color: #fadd95;
  color: #500903;
}

body {
  background: #500903;
  width: 100%;
}
.body {
  width: 100%;
  /* margin: auto; */
}
.present {
  background: #500903;
  padding: 8px;
  border-radius: 20px;
}
.present > a {
  color: #fadd95;
}
.present_image {
  height: fit-content;
}
.upcoming-events {
  display: flex;
  justify-content: center;
  /* margin: 20px; */
}
.upcoming-events h1 {
  color: #fadd95;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
.upcoming-events h1::before,
.upcoming-events h1::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  left: 0;
  bottom: 0;
}
.upcoming-events h1::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.upcoming-events > h1 {
  font-size: 40px;
}
.ue {
  padding-top: 50px;
  height: 90vh;
  background-image: url(./images/uc.jpg);
  background-position: center;
  background-size: cover;
}
.marquee {
  margin: 5px;
  padding: 10px;
  color: white;
}
.news {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.news > .img {
  width: 30%;
  visibility: hidden;
}
.news > .marquee {
  width: 80%;
  text-align: justify;
}
.our-vision {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.our-vision h1 {
  color: #fadd95;
  font-size: 40px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
.our-vision h1::before,
.our-vision h1::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  left: 0;
  bottom: 0;
}
.our-vision h1::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.our-vision-para {
  text-align: justify;
  margin: 10px;
}
.contact-content {
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn {
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn {
  color: #fadd95;
}
nav.sticky .menu-btn {
  color: #fadd95;
}
.navbar .menu .menu-btn {
  color: rgb(179, 34, 34);
}

/* home section styling */
.home {
  height: 100vh;
  width: 100%;
  background: url("2.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}
.home .home-content {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .text-one {
  font-size: 25px;
  color: #97d6fb;
}
.home .text-two {
  color: #97d6fb;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .text-three {
  font-size: 40px;
  margin: 5px 0;
  color: #97d6fb;
}
.home .text-four {
  font-size: 23px;
  margin: 5px 0;
  color: #97d6fb;
}
.home .button {
  margin: 20px 0;
}
.home .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: #03e5fa;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
.home .button button:hover {
  border-color: #03e5fa;
  /*   background-color: #fff; */
  color: #03e5fa;
}

/* .home-img {
  background-repeat: repeat;
  background-position:50%;
  background-attachment: fixed;
} */

/* About Section Styling */
/* Those Elements Where We Have Apply Same CSS,
 I'm Selecting Directly 'Section Tag' and 'Class'  */
/* section {
  padding-top: 40px;
} */
section .content {
  width: 80%;
  margin: 40px auto;
  font-family: "Poppins", sans-serif;
}
.about .about-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span {
  color: #0e2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  /* background: #03e5fa; */
  left: 0;
  bottom: 0;
}
section .title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.about .about-details .left {
  width: 45%;
}
.about .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.about-details .right {
  width: 55%;
}
section .topic {
  color: #0e2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-details .right p {
  text-align: justify;
  color: #0e2431;
}
section .button {
  margin: 16px 0;
}
section .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #03e5fa;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
.score-board {
  padding: 30px;
}
.score-board-para {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin: auto;
}
.score-para {
  width: 100%;
  color: #f0f8ff;
  background: #500903;
  /* padding: 20px 20px 20px 20px;
  border-radius: 0px 80px;
  border:2px solid #fadd95 */
}

.vision {
  height: fit-content;
  background-image: url(./images/still-life-paper-chains-decoration.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-blend-mode: color-burn;
  /* background-color: #70312b; */
  background-color: #500903;
  padding: 30px;
}
.our-vision-para {
  display: flex;
  justify-content: space-evenly;
  width: 96%;
  margin: auto;
}
.our-vision-para > .img {
  width: 20%;
  height: fit-content;
}
.our-vision-para > .para {
  width: 70%;
  color: #f0f8ff;
  background: #500903;
  padding: 20px 20px 20px 20px;
  border-radius: 0px 80px;
  border: 2px solid #fadd95;
}
.our-vision-para > .para > .imp {
  font-size: 70px;
  color: #fadd95;
}
.our-vision-para > .para > .imp2 {
  font-size: 70px;
  color: #fadd95;
  position: relative;
  left: 95%;
}
.our-vision-para > .para > p {
  padding: -10px;
}
.section {
  background: #000;
  padding: 100px 0;
  background-image: url(./images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
  background-color: #a7372d;
}
.contacts {
  padding: 20px;
  background-image: url(./images/contact\ bg.jpg);
  background-blend-mode: color-burn;
  background-color: #7c1515;
  background-position: center;
  background-size: cover;
}
.con > a > i {
  font-size: 30px;
}
.con > div > a > i {
  font-size: 30px;
}
.mail {
  display: flex;
}
.con > div {
  display: flex;
  align-items: center;
}
.ma > a {
  display: flex;
  align-items: center;
}
.con {
  padding: 40px;
  margin: auto;
  width: 70%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.created_by {
  width: 20%;
}
.soc-med {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.soc-med>a>i {
  display: inline-block;
  align-items: center;

}
.contact .content {
  margin: 0 auto;
  padding: 30px 0;
}
.contact .text {
  width: 80%;
  text-align: center;
  margin: auto;
}

/* Footer CSS */
.social {
  width: 100%;
  background: #000;
}
footer {
  background: #500903;
  padding: 15px 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
footer .text span {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}
footer .text span a {
  font-weight: 500;
  color: #fff;
}
footer .text span a:hover {
  text-decoration: underline;
}
/* Scroll TO Top Button CSS */
.scroll-button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fadd95;
  background: rgb(179, 34, 34);
  padding: 7px 12px;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}

.contact {
  display: flex;
}
.event {
  background-color: #fadd95;
  padding: 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
}
.event > div:first-child {
  height: 200px;
}

.event > div:first-child > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.event > div:last-child {
  color: rgb(179, 34, 34);
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Responsive Media Query */

@media (max-width: 1000px) {
  .three {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  section .content {
    width: 85%;
  }
  .contact {
    display: flex;
    flex-direction: column;
  }
  .spc {
    display: flex;
    flex-direction: row;
  }
  .con {
    height: 500px;
  }
  .ma > a {
    display: flex;
    flex-direction: column;
  }
  .con > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .add > a {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .ph > a {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .contact-flex > li > a {
    display: none;
    width: 60%;
    justify-content: space-between;
  }
  .section {
    background-image: url(./images/uc.jpg);
    background-position: 55%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: normal;
  }
  .second > .logo > img {
    display: none;
  }
  .first > div:last-child > img {
    visibility: hidden;
  }
  .first > div > h1 {
    color: #fadd95;
    font-family: "Poppins";
    visibility: hidden;
  }
  .first > div > span {
    color: #fadd95;
    font-family: "Poppins";
    font-weight: 600;
    font-size: larger;
  }
  .text {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: fit-content;
  }
  .created_by {
    width: 100%;
  }
  .ue {
    width: 100%;
    height: 550px;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(./images/uc.jpg);
    background-size: auto;
    background-position: 10px;
  }
  .news {
    display: inline;
  }
  .news > .img {
    visibility: hidden;
  }
  .news > .marquee {
    width: 90%;
    margin: auto;
    text-align: justify;
  }
  .event > div:first-child > img {
    object-fit:contain;
   }
   .event > div:first-child {
     height: fit-content;
   }
  .our-vision-para {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
  }
  .our-vision-para > .img {
    background: #bb8585;
    width: 100%;
    display: contents;
  }
  .our-vision-para > .para {
    width: 100%;
  }
  .score-board-para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    /* align-items: center;
  justify-content: center; */
    /* flex-direction: row; */

    /* flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content; */
  }
  .score-para {
    display: flex;
    justify-content: center;
  }
  .navbar > .logo > span {
    visibility: visible;
  }
  nav .navbar {
    width: 90%;
  }
  nav .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: #0e2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu {
    left: 0;
  }
  nav .navbar .menu a {
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 0px 0;
  }
  nav.sticky .menu a:hover {
    color: #fadd95;
  }
  nav .navbar .media-icons {
    display: none;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  nav .navbar .media-icons a {
    margin: 2px;
    padding: 5px;
  }
}
/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content {
    width: 85%;
  }
  .contact {
    display: flex;
    flex-direction: column;
  }
  .spc {
    visibility: visible;
    /* display: flex; */
    flex-direction: row;
  }
}
@media (max-width: 1000px) {
  nav .navbar {
    width: 90%;
  }
  nav .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: #0e2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu {
    left: 0;
  }
  nav .navbar .menu a {
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 0px 0;
  }
  nav.sticky .menu a:hover {
    color: #03e5fa;
  }
  nav .navbar .media-icons {
    display: none;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  nav .navbar .media-icons a {
    margin: 2px;
    padding: 5px;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn {
    display: block;
  }
  .contact .text {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .section {
    height: 100vh;
  }

  .first {
    display: block !important;
  }
  .imp {
    position: relative;
    bottom: 80px;
  }

  .con {
    margin-top: 30px;
    padding: 0px;
    justify-content: flex-start;
    gap: 20px;
    height: 100%;
  }

  .add .spc {
    text-align: justify;
  }
  .spc {
    font-size: 12px;
  }

  .soc-med {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  .three {
    margin-top: 200px;
  }
}